doctype html
html
  head
    title= 'Express.js Test'

    meta(charset='utf-8')
    meta(name='author' content='Fredrik A. Madsen-Malmo')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content